
<head>
	<title>bookmarker</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" >
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,200'>
	<link rel='stylesheet' href='css/app.css'>
	<script src="/bower_components/angular/angular.js"></script>
</head>