
//neon pallette

$orange: #FF7F00;
$cyan: #00FFFF;
$blue: #00A2FF;
$green: #7FFE00;
$pink: #FF007F;
$yellow: #FFFF00;
$light-grey: #EFEFEF;

body {
  font-family:  'Titillium Web', sans-serif;
}

.login input {
  &.input-block-level {
    width: 30%;
    text-align: center;
    display: block;
    margin: 1em auto;
    border: none;
    padding: 1em;
    background: $light-grey;
  }
}

.container {
  background: $blue;
  margin: 1em 0;
}

.submit {
  display: block;
  margin: 0 auto;
  border-radius: 0;
  background: #00FFFF;
  border: none;
}

.jumbotron {
  background: $blue;
}

// All purpose

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}